- @reviews.each do |review|
  .general-message-wrap.divider-lg
    .clearfix
      %span.img-circle.logo-size.logo-empty.media-object= review.user.email[0].capitalize
      .ml-70
        %div
          .general-message-date.hidden-xs= review.created_at.strftime("%Y/%m/%d")
          .max-240
            .general-message-verified Verified Reviewer
            .general-message-name= review.user.email
        .mb-15
          - review.rating.times do
            %i.fa.fa-star.rate-star
          - (5 - review.rating).times do
            %i.fa.fa-star.rate-star.rate-empty
        %p= review.description
    