%h1.general-title-margin Checkout
%ul.steps.list-inline
  %li.step.clickable-step{ class: active_step(:address), 'data-href': wizard_path(:address) }
    %span.step-number 1
    %span.step-text.hidden-xs Address
  %li.step-divider
  %li.step.clickable-step{ class: active_step(:delivery), 'data-href': wizard_path(:delivery) }
    %span.step-number 2
    %span.step-text.hidden-xs Delivery
  %li.step-divider
  %li.step.clickable-step{ class: active_step(:payment), 'data-href': wizard_path(:payment) }
    %span.step-number 3
    %span.step-text.hidden-xs Payment
  %li.step-divider
  %li.step.clickable-step{ class: active_step(:confirm), 'data-href': wizard_path(:confirm) }
    %span.step-number 4
    %span.step-text.hidden-xs Confirm
  %li.step-divider
  %li.step.clickable-step{ class: active_step(:complete), 'data-href': wizard_path(:complete) }
    %span.step-number 5
    %span.step-text.hidden-xs Complete